@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="checkbox"]:checked{
  outline-color: #954C97;
  background-color: #954C97;
}